<!-- WARNING: THIS PAGE WAS AN OLD TEMPLATE, DISREGARD -->


<body id="profile_page">
<div class="container container-fluid">
    <div class="" id="profileModal">
          <div class="modal-header" id="summoner_banner">
            <h1 class="page-header" id="summoner_header"><img class="img img-thumbnail" height="70px" width="70px" src="<%= @profile['icon'] %>" <small> <%= @profile['summonerName'] %> : Level <%= @profile["summonerLevel"] %></small></h1>
          </div>
          <div class="modal-body">
            <div class="well" id="modalBody">
              <ul class="nav nav-tabs" id="profileTabs">
                <li class="active"><a href="#summoner_profile" data-toggle="tab">Profile</a></li>
                <li><a href="#summoner_graphs" data-toggle="tab">Graphs</a></li>
              </ul>
              <div id="profileTabContent" class="tab-content">
                <div class="tab-pane active in" id="summoner_profile">
                  <div id="myCarousel" class="carousel slide" data-interval="false">
                  <ol class="carousel-indicators">
                   <% @count = 0 %>
                   <% @champion_masteries.each do | this | %>
                   <li data-target="#myCarousel" data-slide-to="<%= @count %>" <% if @count == 0 %> class="active" <% end %>></li>
                   <% @count += 1 %>
                   <% end %>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                   <% @counter = 0 %>
                   <% @champion_masteries.each do | this | %>
                   <div class="item <% if @counter == 0 %>active <% end %>">
                       <div class="container">
                       <div class="carousel-caption">
                         <% @champions.each do | champ | %>
                         <% if champ.championId === this['championId'] %>
                         <% @current_xp = this['championPointsSinceLastLevel'] %>
                         <% @total_lvl_xp = ( this['championPointsUntilNextLevel'] + this['championPointsSinceLastLevel']) %>
                         <% @percent_to_level = number_to_percentage((@current_xp.to_f / @total_lvl_xp) * 100) %>
                         <img src="<%= champ.icon %>" height="100px" width="100px" alt="" style="margin-top: 10px; z-index: 0; margin-left:5px"/>
                         <br>
                         <br>
                         <img src="/images/Champion_mastery_tier_<%= this['championLevel'] %>.png" height="90px" width="80px" alt="" style="z-index: -1; margin-top: -70px; opacity: 0.85"/>
                         <h2 id="champ_name"> <%= champ.name %> </h2>
                         <h3> Champion Level: <%= this['championLevel'] %></h3>
                         <h3> Time Since Last Played: <%= DateTime.strptime(this['lastPlayTime'].to_s, '%Q') %> </h3>
                         <h2>Highest Grade:  <%= this['highestGrade'] %></h2>
                         <h3>Points Until Next Level: <%= this['championPointsUntilNextLevel'] %></h3>
                         <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="<%= @current_xp %>" aria-valuemin="0" aria-valuemax=" <%= @total_lvl_xp %>" style="width: <%=@percent_to_level %> ">
                             <%= @current_xp %>/<%= @total_lvl_xp %>pts
                           </div>
                         </div>
                         <% end %>
                       <% end %>
                       </div>
                     </div>
                   </div>
                   <% @counter += 1 %>
                   <% end %>
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                  </a>
                  </div>
                </div>
              </div>
                <div class="tab-pane fade" id="summoner_graphs">
                    <h1>Match History::::</h1>
                    
                    <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div> 
  </body>
