<body id="profile_page" class="background">
<div class="container container-fluid">
  	<div id="summoner_banner" class="page-header">
            <h1 id="summoner_header"><img height="70px" width="70px" src="<%= @profile['icon'] %>" <small> <%= @profile['summonerName'] %> : Level <%= @profile["summonerLevel"] %></small></h1>
    </div>
    <div id="champion_list" class="container text-center">
		  	<form class="form-inline" action="/matches/create" method="post">
          <div class="form-group">
            <p class="white">
              Ranked Champions
            </p>
            <% @progress.each do |this| %>
              <input type="hidden" name="summonerId" value="<%= @profile.summonerId %>">
              <input type="hidden" name="region" value="<%= @profile.region %>">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="summonerName" value="<%= @profile.summonerName %>">
              <input type="hidden" name="id" value="<%= @profile.id %>" >
              <input type="image" src="<%= this.icon %>" name="championId" value="<%= this.championId %>">
              <% champ = @champion_masteries.find {|t| t['championId'] == this.championId } %>
              <% @current_xp = champ['championPointsSinceLastLevel'] %>
              <% @total_lvl_xp = ( champ['championPointsUntilNextLevel'] + champ['championPointsSinceLastLevel']) %>
              <% @percent_to_level = number_to_percentage((@current_xp.to_f / @total_lvl_xp) * 100) %>
              <img src="/images/Champion_mastery_tier_<%= champ['championLevel'] %>.png" id="icon_mastery_rank" height="90px" width="80px" alt=""/>
              <div class="progress" id="icon_mastery_progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @current_xp %>" aria-valuemin="0" aria-valuemax=" <%= @total_lvl_xp %>" style="width: <%=@percent_to_level %> ">
                </div>
              </div>
              <% end %>
              <hr>
            </div>
          </form>
          <p class="white">
            Unranked Champions
          </p>
              <% @no_progress.each do |this| %>
                <input type="hidden" name="summonerId" value="<%= @profile.summonerId %>">
                <input type="hidden" name="region" value="<%= @profile.region %>">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="id" value="<%= @profile.id %>">
                <img src="<%= this.icon %>" name="championId" style="opacity: .60">
                <% end %>
	</div>
</div>



</body>
