<body id="profile_page"> 
<div class="container container-fluid">
  	<div id="summoner_banner">
            <h1 id="summoner_header"><img class="img img-thumbnail" height="70px" width="70px" src="<%= @profile['icon'] %>" <small> <%= @profile['summonerName'] %> : Level <%= @profile["summonerLevel"] %></small></h1>
    </div>
    <div id="champion_list" class="container">
		  	<form class="form-inline" action="/matches/create" method="post">
		  			<div class="form-group">
		  				<% @champions.each do |this| %>
		  					<% if @champion_masteries.find { |t| t['championId'] == this.championId } %>
								<input type="hidden" name="summonerId" value="<%= @profile.summonerId %>">
								<input type="hidden" name="region" value="<%= @profile.region %>">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="id" value="<%= @profile.id %>">
								<input type="image" src="<%= this.icon %>" name="championId" value="<%= this.championId %>">
							<% end %>
	  					<% end %>  
					</div>
			</form>
			<% @champions.each do |this| %>	
		  		<% if @champion_masteries.find { |t| t['championId'] != this.championId } %>
					<img style="opacity: 0.5" src="<%= this.icon %>">
	  			<% end %>
	  		<% end %>
	</div>
</div>



</body>