<body style="background-image: url(<%= @champion.splash %>)">
	<div class="container container-fluid">
		<div class="container" id="graph_container">

		<h1><img src="<%= @champion.icon %>"><%= @champion.name %><small><%= @champion.title %></small></h1>
	 		<div>

		<%= line_chart Match.group(:timestamp).maximum(:kills) %>

			</div>
		</div>
	</div>

</body>
