<body style="background-image: url(<%= @champion.splash %>)" class="background">
	<div class="container container-fluid">
		<div class="container" id="graph_container">
			<div class="page-header" style="display: inline">
				<form action='' class='navbar-form navbar-right' id="compare_search" method='' role="search">
					<div class="form-group">
						<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type='hidden' name='summonerName' value='<%= @profile['summonerName'] %>'>
						<input type="hidden" name="championName" value="<%= @champion['name'] %>">
						<input class='form-control form-control-block' name='profile[summonerName]' type='text' placeholder='Summoner Name' required></h3>
						<select class='form-control form-control-block' name='profile[region]' required>
							<option value='' selected disabled>Region</option>
							<option value="br">BR</option>
							<option value="eune">EUNE</option>
							<option value="euw">EUW</option>
							<option value="jp">JP</option>
							<option value="kr">KR</option>
							<option value="lan">LAN</option>
							<option value="las">LAS</option>
							<option value="na">NA</option>
							<option value="oce">OCE</option>
							<option value="ru">RU</option>
							<option value="tr">TR</option>
						</select>
						<button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'> </span></button>
					</div>
					<p class="text-left" style="color:white;">Compare against another summoner: (*currently unavailable) </p>
				</form>
				<div id="champ_div">
					<h1 class="text-left" style="vertical-align:top"><img class="img img-circle" height="130px" width="130px" src="<%= @champion.icon %>"><%= @champion.name %><small><%= @champion.title %></small></h1>
					<img id="rank_score" src="/images/Champion_mastery_tier_<%= @champion_mastery[0]['championLevel'] %>.png" alt="" />
				</div>
			</div>

			<div>
				<%= line_chart @matches.map{ |m| [m.matchId, m.mdScore]}, discrete: true, label: "mdScore", xtitle: "Match Ids", ytitle: "mdScore", id: "champ_chart" %>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

</body>
