<button id="searchButton" type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#champSearchModal"><span class="fa fa-search fa-2x"></span></button>

<div style="color:black" class="modal" id="champSearchModal" tabindex="-1" role="dialog"
aria-labelledby="champSearchModal1" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="champSearchModalLabel">Search Filters</h4>
    </div>
    <div class="modal-body">

      <form>
        <input class="form-control" id="searchinput" type="search" placeholder="Search..." autofocus>
        <div class="scroll" id="searchlist">
          <% @champion_list.each do |key, value| %>

                      <!-- key is supports/etc -->
                      <!-- value is the mastery object -->
                      <% value[:Mastered].each do |this| %>
                          <a class="list-group-item" href="#"><img class="img" src="<%= this.champion.icon %>" alt="" height="20px" width="20px" />No<%= this.champion.id %> <span><%= this.champion.name %></span>
                            <img class="img" src="/images/Champion_mastery_tier_<%= this.championLevel %>.png" alt="" height="20px" width="20px" /></a>
                      <% end %>
                      <% value[:Unmastered].each do |this| %>
                      <a class="list-group-item" href="#"><img class="img" src="<%= this.icon %>" alt="" height="20px" width="20px" />No<%= this.id %> <span><%= this.name %></span></a>
                      <% end %>
                      <% end %>

        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
    </div>
  </div>
</div>
</div>
