<body id="landing_page" class="background">
<div class='container container-fluid' style='margin-top: 40px'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3 index_container'id="main_content">
			<h1 class='form-register-heading'>MasteryDex <small>*Some features still in progress.</small></h1>
			<% if flash[:error] %>
			<div class="alert alert-danger" role="alert">
				<strong class="red"><%=h flash[:error] %></strong>
			</div>
			<% end %>
			<form action='/summoners/search' class='form-inline' role="form" method='post'>
				<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
				<div class="row">
			<form class="form-inline" role="form" id="yourformID-form" action="" method="post">
	<div class="input-group">

		<div class="form-group">
			<input size="50" type='text' placeholder='Summoner Name' class='form-control' name='summoner[summonerName]' value=''  required>
		</div>

		<div class="form-group">
			<select class='form-control' name='summoner[region]' required autofocused>
				<option value="na">NA</option>
				<option value="br">BR</option>
				<option value="eune">EUNE</option>
				<option value="euw">EUW</option>
				<option value="jp">JP</option>
				<option value="kr">KR</option>
				<option value="lan">LAN</option>
				<option value="las">LAS</option>
				<option value="oce">OCE</option>
				<option value="ru">RU</option>
				<option value="tr">TR</option>
			</select>

		</div>
		<span class="input-group-btn">
			<button class="btn btn-primary" type="submit">Search</button>
		</span>
	</div>
</form>
				</div>
			</form>
			<br>
			<h4 class="page-heading">
				New to League of Legends or not sure who to search?
				<br>
				-No worries, click below for a random summoner to get started!
				<br>
				<br>
				<% if @randomSummoner %>
				<form action='/summoners/search' class='form-register' method='post'>
					<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name="summoner[summonerName]" value="<%= @randomSummoner.summonerName %>">
					<input type='hidden' name="summoner[region]" value="<%= @randomSummoner.region %>">
					<button type='submit' class='btn btn-primary btn-md btn-block'>Random Search</button>
				</form>
				<% end %>
			</h4>

		</div>

		</div>
	</div> <!-- container fluid -->

	<div class="row">
		<div class='col-md-12 index_container' id="footer">
			<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h2 class="page-header">About Us</h2>
					<h4 class="page-heading text-center">
						This is a website where League of Legends players can lookup their Summoner name
						to view their MasteryDex - a collection of their League of Legends Champions that
						they've ranked up in their 2016 Ranked Season.
					<br>
							Enter your Summoner name and region to begin building your Summoner's MasteryDex and
							get started on your journey to completely master all of League of Legends' extraordinary champions!
							Once your summoner has been built you can search for other Summoners' MasteryDexes and even compare them
							to your progress!
					</h4>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div class="col-lg-4">
					<h2 class="page-header">How It Works</h2>
					<h4 class="page-heading text-center">
						By using Riot Game's API, we are able to look up a player's champion mastery progress and display all 130 League of Legends champions based on
						 your mastery with them. As you continue to work on your skill with these champions, earn Hextech Chests and Mastery Tokens, you may want to see
						 how well your matches are going with each champion and if you are getting any better at them. Click on a champion's icon and you'll view your mdScore
						 (*a loose interpretation of a rating for each match based on your match stats), from there you can enter another player's name and region and if they've
						 played that champion too you will see their ratings! If you want a more in depth view of your performance in each match, click on a node on the graph to view
						 your full match details!
					</h4>
					<br>

					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div class="col-lg-4">
					<h2 class="page-header">Contact Us</h2>
					<h4 class="page-heading text-center">
						This was intended to be an applicant for the 2016 Riot API Challenge, but we plan on continuing to develop the site. If you have any questions or comments,
						feel free and email us! We're open to any tips on improving the site, as this is our first public web app we have developed.
					</h4>
					<br>
						<h4 class="page-heading text-center">
						<ul style="list-style: none;">
							<li>Timmey Ellefson</li>
							<li><a href="http://github.com/tellefsonjr" class="fa fa-github" aria-hidden="true"></a> <a class="fa fa-envelope" aria-hidden="true"></a> <a href="https://www.linkedin.com/in/timmeyellefson" class="fa fa-linkedin-square" aria-hidden="true"></a></li>
							<li>Jerico Manalo</li>
							<li><a href="http://github.com/jericomanalo" class="fa fa-github" aria-hidden="true"></a> <a class="fa fa-envelope" aria-hidden="true"></a> <a class="fa fa-linkedin-square" aria-hidden="true"></a></li>
							<li>Clark Moniz</li>
							<li><a href="http://github.com/clarkmoniz" class="fa fa-github" aria-hidden="true"></a> <a class="fa fa-envelope" aria-hidden="true"></a> <a class="fa fa-linkedin-square" aria-hidden="true"></a></li>

						</ul>
					</h4>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>

		</div>
		</div>
	</div>

	</div>
</body>
