<body style="background-image: url(<%= @champion.splash %>)" class="background">
	<div class="container container-fluid">
		<div class="container" id="graph_container">
			<div class="page-header" style="display: inline">
				<form action='/summoners/compare' class='navbar-form navbar-right' id="compare_search" method='post' role="search">
					<div class="form-group">
						<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type='hidden' name='summonerName' value='<%= @summoner["summonerName"] %>'>
						<input type="hidden" name="region" value="<%= @summoner['region'] %>">
						<input type="hidden" name="championId" value="<%= @champion['championId'] %>">
						<input class='form-control form-control-block' name='summoner[summonerName]' type='text' placeholder='Summoner Name' required></h3>
						<select class='form-control form-control-block' name='summoner[region]' required autofocused>
							<option value="na">NA</option>
							<option value="br">BR</option>
							<option value="eune">EUNE</option>
							<option value="euw">EUW</option>
							<option value="jp">JP</option>
							<option value="kr">KR</option>
							<option value="lan">LAN</option>
							<option value="las">LAS</option>
							<option value="oce">OCE</option>
							<option value="ru">RU</option>
							<option value="tr">TR</option>
						</select>
						<button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'> </span></button>
					</div>
					<p class="text-left" style="color:white;">Compare against another summoner: (*currently unavailable) </p>
				</form>
				<div id="champ_div">
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

</body>
