<body style="background-image: url(<%= @champion.splash %>)" class="background">
	<div class="container container-fluid">
		<div class="container" id="graph_container">
			<div class="page-header" style="display: inline">
				<form action='/summoners/compare' class='navbar-form navbar-right' id="compare_search" method='post' role="search">
					<div class="form-group">
						<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type='hidden' name='summonerName' value='<%= @summoner["summonerName"] %>'>
						<input type="hidden" name="region" value="<%= @summoner['region'] %>">
						<input type="hidden" name="championId" value="<%= @champion['championId'] %>">
						<input class='form-control form-control-block' name='summoner[summonerName]' type='text' placeholder='Summoner Name' required></h3>
						<select class='form-control form-control-block' name='summoner[region]' required autofocused>
							<option value="na">NA</option>
							<option value="br">BR</option>
							<option value="eune">EUNE</option>
							<option value="euw">EUW</option>
							<option value="jp">JP</option>
							<option value="kr">KR</option>
							<option value="lan">LAN</option>
							<option value="las">LAS</option>
							<option value="oce">OCE</option>
							<option value="ru">RU</option>
							<option value="tr">TR</option>
						</select>
						<button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'> </span></button>
					</div>
					<p class="text-left" style="color:white;">Compare against another summoner: (*currently unavailable) </p>
				</form>
				<div id="champ_div">
					<h1 class="text-left white" style="vertical-align:top"><img class="img img-circle" height="130px" width="130px" src="<%= @champion.icon %>"><%= @champion.name %> <small><%= @champion.title %></small></h1>
					<img id="rank_score" src="/images/Champion_mastery_tier_<%= @champion_mastery[0]['championLevel'] %>.png" alt="" />
				</div>
			</div>

				<!-- <%= select(:selected, "selection", options_for_select(Match.columns.map {|p| [ p.name ] }), :include_blank => false)%>
			<h1 id="selecteddd"><%=  %></h1> -->
			<div id="chart_area">
				<span class="glyphicon glyphicon-question-sign" style="color:white" data-toggle="tooltip" data-placement="right" title="Click on a chart node to view your full match details!"></span>
				<%= line_chart [
						{name: @summoner.summonerName, data: @matches.map {|a| [(a.matchId), a.mdScore]}},
						{name: @compare_summoner.summonerName, data: @compare_matches.map {|b| [(b.matchId), b.mdScore]}},
					 ],
						colors:["rgb(0, 155, 223)", "white"], discrete: true, label: "md Score", xtitle: "Match Ids", ytitle: "md Score", id: "champ_chart" %>				<span class="glyphicon glyphicon-question-sign" style="color:white" data-toggle="tooltip" data-placement="right" title="MD Score is a loose interpretation of your performance in each match"></span>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>

</body>
