<% if @match.win == 't' %>
<body style= "background-image: url('/images/victory.png'); color: white" class="background">
<% else %>
<body style= "background-image: url('/images/defeat.png'); color: white" class="background">
<% end %>

<div class="container container-fluid">
  <div class="row" style="vertical-align:middle; margin: 20px -15px 25px 0px" id="summoner_banner">
    <div class="col-lg-6" style="border-right:1px solid white;">
      <h1><img src="<%= @summoner['icon'] %>" height="120px" width="120px"> <%= @summoner['summonerName'] %> <small> Level <%= @summoner["summonerLevel"] %></small></h1>
    </div>
    <div class="col-lg-6">
      <h1> <small>Played as</small> <%= @champion.name %> - level <%= @match.championLevel %> <img src="<%= @champion.icon %>" alt="" > </h1>

    </div>
  </div>

    <div id="graph_container" style="height: 700px" class="container container-fluid  mCustomScrollbar">
      <div class="row" style="margin-right:0px">
        <div class="col-sm-4 col-offset-1 text-center">
          <h1><strong> K/D/A:</strong>
            <br>
           <%= @match.kills %>/<%= @match.deaths %>/<%= @match.assists %></h1>

        <% if @match.doubleKills > 0 %>

          <h4><strong>Double Kills:</strong> <%= @match.doubleKills %></h4>

        <% end %>
        <% if @match.tripleKills > 0 %>

          <h3><strong>Triple Kills:</strong> <%= @match.tripleKills %></h3>

        <% end %>
        <% if @match.quadraKills > 0 %>

          <h2><strong>Quadra Kills:</strong> <%= @match.quadraKills %></h2>

        <% end %>
        <% if @match.pentaKills > 0 %>

          <h1><strong>Penta Kills:</strong> <%= @match.pentaKills %></h1>

        <% end %>
      </div>
      <div class="col-sm-4 col-offset-1 text-center">

          <h2><strong>Summoner Spells:</strong>
            <br>
            <img src='http://ddragon.leagueoflegends.com/cdn/6.11.1/img/spell/<%= @summspell1 %>.png' alt="" />
          <img src='http://ddragon.leagueoflegends.com/cdn/6.11.1/img/spell/<%= @summspell2 %>.png' alt="" />
        </h2>


          <h2><strong>Keystone:</strong>
            <br>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/mastery/<%= @match.mastery %>.png" alt="" />
          </h2>
      </div>
      <div class="col-sm-4 col-offset-1 text-center">

          <h1><strong>Items:</strong></h1>
          <% if @match.item1 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item1 %>.png" alt="" />
          <% end %>
          <% if @match.item2 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item2 %>.png" alt="" />
          <% end %>
          <% if @match.item3 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item3 %>.png" alt="" />
          <% end %>
          <% if @match.item4 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item4 %>.png" alt="" />
          <% end %>
          <% if @match.item5 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item5 %>.png" alt="" />
          <% end %>
          <% if @match.item6 > 0 %>
          <img src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/<%= @match.item6 %>.png" alt="" />
          <% end %>
        </div>
        </div>
        <hr>
      <div height="200px" width="400px">
        <%= pie_chart({"Magic Damage Dealt" => @match.magicDamage, "Physical Damage Dealt" => @match.physicalDamage, "Damage Taken" => @match.damageTaken}, colors: ["rgba(27, 47, 54, 0.90)", "rgba(145, 85, 5, 0.6)", "rgba(179, 40, 4, 0.6)"]) %>
        <h1 class="page-header text-center"> Support Stats: </h1>
        <div class="row">
          <div class="col-lg-4">
            <%= column_chart({"This Match" => @match.totalHeal, "Personal Best" => @pb_totalHeal.totalHeal}, colors: ["rgba(27, 47, 54, 0.90)", "rgba(27, 47, 54, 0.90)"], ytitle:"Total Healed" ) %>
          </div>
          <div class="col-lg-4">
            <%= column_chart({"This Match" => @match.totalCcDealt, "Personal Best" => @pb_totalCcDealt.totalCcDealt}, colors: ["rgba(27, 47, 54, 0.90)", "rgba(27, 47, 54, 0.90)"], ytitle:"Total CC Dealt (seconds)" ) %>
          </div>
          <div class="col-lg-4">
            <%= column_chart({"This Match" => @match.wardsPlaced, "Personal Best" => @pb_wardsPlaced.wardsPlaced}, colors: ["rgba(27, 47, 54, 0.90)", "rgba(27, 47, 54, 0.90)"], ytitle:"Wards Placed" ) %>
          </div>
        </div>
        <h1 class="page-header text-center"> CS Stats: </h1>
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
            <%= column_chart({"This Match" => @match.cs, "Personal Best" => @pb_cs.cs}, colors: ["rgba(179, 40, 4, 0.6)", "rgba(179, 40, 4, 0.6)"], ytitle:"Total CS") %>
          </div>
          <div class="col-lg-5">
            <%= column_chart({"This Match" => @match.jungleCs, "Personal Best" => @pb_jungleCs.jungleCs}, colors: ["rgba(179, 40, 4, 0.6)", "rgba(179, 40, 4, 0.6)"], ytitle:"Jungle CS") %>
          </div>

        </div>
        <h1 class="page-header text-center"> Gold Stats: </h1>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <%= column_chart({"This Match" => @match.goldEarned, "Personal Best" => @personal_best_gold.goldEarned}, ytitle:"Gold Earned", colors: ["rgba(145, 85, 5, 0.6)"]) %>
          </div>
        </div>

      </div>

    </div>
</body>
